<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kafe Application</title>
    <link th:href="@{/css/bootstrap.min.css}" th:rel="stylesheet">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<div class="container w-50 p-3">
    <h1 class="display-5">Add Category</h1>

    <form action="#" method="POST" th:action="@{/categories/add}"
          th:object="${categoryRequest}">
        <div class="mb-3">
            <label for="inputName">Category Name</label>
            <input class="form-control" id="inputName" th:field="*{name}"
                   type="text">
            <div class="alert alert-warning" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></div>
        </div>
        <button class="btn btn-primary" id="submit-button" type="submit">Add Category</button>
    </form>
</div>

</body>
</html>