<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kafe Application</title>
    <link th:href="@{/css/bootstrap.min.css}" th:rel="stylesheet">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<div th:insert="~{fragments/header :: header}"></div>

<div class="container w-50 p-3">
    <h1 class="display-5">Login</h1>

    <form method="POST" th:action="@{/login}">
        <div class="alert alert-danger" id="error-msg" th:if="${param.error}">
            Invalid username or password
        </div>
        <div class="alert alert-success" id="logout-msg" th:if="${param.logout}">
            You have been logged out
        </div>
        <div class="mb-3">
            <label for="inputUsername">Username</label>
            <input class="form-control" id="inputUsername" name="username"
                   required type="text">
        </div>
        <div class="mb-3">
            <label for="inputPassword">Password</label>
            <input class="form-control" id="inputPassword" name="password"
                   required type="password">
        </div>
        <button class="btn btn-primary" id="submit-button" type="submit">Login</button>
    </form>
</div>

</body>
</html>