<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kafe Application</title>
    <link th:href="@{/css/bootstrap.min.css}" th:rel="stylesheet">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<div class="container w-50 p-3">
    <h1 class="display-5">Add Menu</h1>

    <form action="#" method="POST" th:action="@{/menus/add}" th:object="${menuRequest}">

        <div class="mb-3">
            <label for="inputName">Name</label>
            <input class="form-control" id="inputName" th:field="*{name}"
                   type="text">
            <div class="alert alert-warning" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></div>
        </div>

        <div class="mb-3">
            <label for="inputName">Category</label>
            <select class="form-control" id="inputCategory" name="categoryName">
                <option th:each="category : ${categories}"
                        th:text="${category.name}" th:value="${category.name}">
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label for="inputPrice">Price</label>
            <input class="form-control" id="inputPrice" th:field="*{price}"
                   type="text">
            <div class="alert alert-warning" th:errors="*{price}" th:if="${#fields.hasErrors('price')}"></div>
        </div>

        <button class="btn btn-primary" id="submit-button" type="submit">Add Menu</button>
    </form>
</div>

</body>
</html>