<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kafe Application</title>
    <link th:href="@{/css/bootstrap.min.css}" th:rel="stylesheet">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<div th:insert="~{fragments/header :: header}"></div>

<div class="container w-50 p-3">
    <h1 class="display-5">Sign Up</h1>


    <form action="#" method="POST" th:action="@{/signup}" th:object="${signupRequest}">


        <div class="alert alert-success" id="success-msg"
             th:if="${signupSuccess}">
            Successfully signed up! Please <a th:href="@{/login}">login</a>.
        </div>
        <div class="alert alert-danger" id="error-msg"
             th:if="${signupError}">
            <span th:text="${signupError}"></span>
        </div>


        <div class="mb-3">
            <label for="inputName">Name</label>
            <input class="form-control" id="inputName" th:field="*{name}"
                   type="text">
            <div class="alert alert-warning"
                 th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></div>
        </div>
        <div class="mb-3">
            <label for="inputUsername">Username</label>
            <input class="form-control" id="inputUsername" th:field="*{username}"
                   type="text">
            <div class="alert alert-warning" th:errors="*{username}" th:if="${#fields.hasErrors('username')}"></div>
        </div>
        <div class="mb-3">
            <label for="inputPassword">Password</label>
            <input class="form-control" id="inputPassword" th:field="*{password}"
                   type="password">
            <div class="alert alert-warning" th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></div>
        </div>
        <button class="btn btn-primary" id="submit-button" type="submit">Sign Up</button>
    </form>
</div>


</body>
</html>
